@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  font-weight: 400;
  background-color: #ffffff;
  margin: 0;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.main-index {
  text-align: center;
}

/*Хедер*/
.page-header {
  padding: 0 70px;
}

.navigation {
  display: flex;
}

.navigation-logo {
  width: 140px;
  height: 70px;
  margin-right: 28px;
  margin-bottom: -12px;
  position: relative;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  width: 269px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.navigation-user-link {
  display: block;
  min-width: 40px;
  min-height: 64px;
  margin: 0 2px;
}

.navigation-user-search {
  background-image: url("../images/svg/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.navigation-user-favorites {
  position: relative;
  background-image: url("../images/svg/favorites-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

/*Херо-блок*/
.hero {
  height: 485px;
  background-color: #82b3d3;
  background-image: url("../images/svg/hero-divider.svg"), url("../images/hero-background.jpg");
  background-position: center 428px, center top;
  background-size: 100% auto;
  background-repeat: no-repeat, no-repeat;
}

.hero-text {
  margin-top: 51px;
}

/*Секция "advantages"*/
.advantages {
  padding-top: 69px;
}

.advantages-list,
.tips-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-container {
  display: flex;
}

.advantages-item-wide {
  width: 230px;
  padding-top: 92px;
  padding-right: 85px;
  padding-bottom: 111px;
  padding-left: 85px;
  background-color: #82b3d3;
  color: #ffffff;
}

.photo-container {
  width: 800px;
}

.photo {
  display: block;
}

.advantages-item {
  width: 232px;
  min-height: 160px;
  padding: 103px 84px 121px;
}

.tips-item {
  width: 230px;
  min-height: 106px;
  padding: 182px 85px 81px;
}

.advantages-item-lightcyan,
.tips-item-lightcyan {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-cyan {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-text-dark,
.hotel-card-price {
  color: #333333;
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-text {
  margin: 0;
}

.advantages-line-light::after {
  content: "";
  position: relative;
  display: block;
  width: 60px;
  height: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
  left: 85px;
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-line-dark::after {
  content: "";
  position: relative;
  display: block;
  width: 60px;
  height: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
  left: 85px;
  background-color: rgba(0, 0, 0, 0.3);
}

/*Секция Поиск*/
.search {
  padding: 96px 258px;
}

/*Секция Рассылка*/
.subscribe {
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #82b3d3;
  padding: 96px 258px 104px;
}

.subscribe-form {
  display: flex;
  min-height: 52px;
  margin: 0 auto;
}

.field-subscribe {
  width: 412px;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  padding: 14px 20px;
  border: 0;
}

.field-background {
  background-color: #f2f2f2;
}

.subscribe-button {
  display: block;
  width: 232px;
  border-radius: 0 4px 4px 0;
  border: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

/*Футер*/
.page-footer {
  display: flex;
  padding: 0 70px;
}

.footer-social {
  width: 236px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.footer-phone {
  width: 333px;
  margin: 45px 234px 35px 141px;
}

.footer-copyright {
  width: 115px;
  margin-top: 49px;
}

.footer-link {
  display: block;
  min-width: 43px;
  min-height: 40px;
  margin: 54px 2px 26px;
}

/*Типографика*/
/*навигация в хедере*/
.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  padding: 20px 8px;
  margin: 0 8px;
}

/*<h2>*/
.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.title-white {
  color: #ffffff;
}

/*<h3>*/
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.tips-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

/*Подзаголовки <p>*/
.subtitle {
  font-size: 22px;
  line-height: 26px;
}

.subtitle-advantages {
  margin-top: 25px;
  margin-bottom: 90px;
}

.subtitle-subscribe {
  margin-top: 20px;
  margin-bottom: 54px;
}

.subtitle-white {
  color: #ffffff;
}

.subtitle-dark {
  color: #333333;
}

/*<h1> со страницы каталога*/
.catalog-head {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 8px;
}

/*<h3> со страницы каталога*/
.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

/*Оформление*/
.link {
  text-decoration: none;
}

.text-dark {
  color: #333333;
}

.navigation-item {
  position: relative;
}

.button-small {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
}

.navigation-user-button {
  padding: 8px 34px;
  margin-top: 14px;
  margin-left: 20px;
}

.button-big {
  display: block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 4px;
  text-transform: uppercase;
}

.hotel-search-button {
  width: 276px;
  color: #ffffff;
  margin: 0 auto;
  padding: 8px 50px;
}

.tips-item-housing {
  background-image: url("../images/svg/advantage-icon-home.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
}

.tips-item-food {
  background-image: url("../images/svg/advantage-icon-food.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
}

.tips-item-souvenirs {
  background-image: url("../images/svg/advantage-icon-souvenir.svg");
  background-repeat: no-repeat;
  background-position: center 78px;
}

.footer-social-icon {
  color: #83b3d3;
}

.footer-social-icon:hover {
  color: #68a2ca;
}

.footer-social-icon:focus {
  color: #68a2ca;
}

.footer-social-icon:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
}

.footer-contacts:hover {
  color: #756157;
}

.footer-contacts:focus {
  color: #756157;
}

.footer-contacts:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy {
  color: #000000;
}

.htmlacademy:hover {
  color: #756157;
}

.htmlacademy:focus {
  color: #756157;
}

.htmlacademy:active {
  color: rgba(117, 97, 87, 0.3);
}

.favorites-circle {
  background-color: #7db54f;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  min-width: 18px;
  min-height: 15px;
  border-radius: 50%;
  text-align: center;
  padding: 1px;
  padding-top: 4px;
  margin: 0;
  position: absolute;
  top: 11px;
  left: 20px;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

/*Оформление кнопок*/
.brown-button {
  background-color: #756157;
  padding-top: 8px;
  padding-bottom: 8px;
}

.brown-button:hover {
  background-color: #615048;
}

.brown-button:focus {
  background-color: #615048;
}

.brown-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.cyan-button {
  background-color: #82b3d3;
  padding-top: 8px;
  padding-bottom: 8px;
}

.cyan-button:hover {
  background-color: #68a2ca;
}

.cyan-button:focus {
  background-color: #68a2ca;
}

.cyan-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.card-infavorites-button {
  background-color: #7db54f;
  padding-top: 8px;
  padding-bottom: 8px;
}

.card-infavorites-button:hover {
  background-color: #6c9e42;
}

.card-infavorites-button:focus {
  background-color: #6c9e42;
}

.card-infavorites-button:active {
  color: rgba(255, 255, 255, 0.3);
}

/*------Каталог------*/
/*Хедер Фильтры поиска*/
.search-filters {
  min-height: 304px;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #82b3d3;
  padding: 35px 70px 70px;
}

.breadcrumbs {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  min-width: 114px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style-type: none;
}

.breadcrumbs-item {
  color: inherit;
  margin-right: 28px;
  position: relative;
  display: block;
}

.breadcrumbs-item::after {
  content: url("../images/svg/breadcrumbs-arrow.svg");
  display: block;
  position: absolute;
  width: 6px;
  height: 10px;
  top: 1px;
  right: -17px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-first {
  display: block;
  width: 12px;
  height: 21px;
  background-image: url("../images/svg/breadcrumbs-house.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

/*Секция Результаты поиска*/
.search-results {
  padding: 50px 70px 60px;
}

.search-results-header {
  padding: 0;
  display: grid;
  grid-template-columns: auto auto 160px;
  column-gap: 70px;
  margin-top: 0;
  margin-bottom: 40px;
  align-items: center;
}

.select-sorting-results {
  min-width: 292px;
  height: 48px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.select-sorting-results:hover,
.select-sorting-results:focus {
  border: 2px solid #68a2ca;
}

.select-sorting-results:active {
  border: 2px solid #3f5e72;
}

.view-list {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*Сетка карточек*/
.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  padding: 0;
  padding-bottom: 40px;
  margin: 0;
  border-bottom: 1px solid #e6e6e6;
}

/*Карточка гостиницы*/
.hotel-card {
  width: 300px;
  min-height: 398px;
  display: grid;
  grid-template-rows: 212px repeat(4, min-content);
  grid-template-columns: 140px 140px;
  row-gap: 16px;
  column-gap: 20px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card-link {
  grid-column: 1 / -1;
  display: block;
}

.hotel-card-type {
  color: #333333;
  margin: 0;
}

.hotel-card-price {
  color: #333333;
  text-align: right;
  margin: 0;
}

.hotel-card-type,
.hotel-card-price {
  min-height: 21px;
}

.card-rating {
  display: block;
  text-align: center;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 8px;
}

/*Пагинация*/
.pagination {
  display: grid;
  grid-template-columns: repeat(15, 60px);
  gap: 8px;
  padding: 0;
  margin: 40px 0 0;
  list-style-type: none;
}

.pagination-item {
  text-align: center;
}

.pagination-link {
  width: 60px;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 11px;
  padding-bottom: 13px;
}

.pagination-current {
  width: 60px;
  background-color: #f2f2f2;
  margin: 0 auto;
  padding-top: 11px;
  padding-bottom: 13px;
}

.pagination-separator {
  display: block;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin: 0 auto;
  padding-top: 16px;
  border-radius: 4px;
  height: 44px;
}

/*Секция Рассылка в каталоге*/
.subscribe-catalog {
  text-align: center;
  padding: 96px 258px 104px;
}

/*Оформление каталога*/
/*Кнопки меню "Вид"*/
.view-button {
  display: block;
  width: 44px;
  height: 44px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
}

.view-button:hover {
  border-color: #68a2ca;
}

.view-button:focus,
.view-button:active {
  border-color: #000000;
}

.view-button-selected {
  border-color: #000000;
}

.view-button-tile {
  background-image: url("../images/svg/results-tile.svg");
}

.view-button-slideshow {
  background-image: url("../images/svg/results-slideshow.svg");
}

.view-button-list {
  background-image: url("../images/svg/results-list.svg");
}

/*Звездный рейтинг*/
.star-rating-five {
  width: 120px;
  height: 37px;
  background-image: url("../images/svg/star.svg");
  background-repeat: repeat-x;
  background-position: 0 center;
  margin: 0;
}

.star-rating-four {
  width: 96px;
  height: 37px;
  background-image: url("../images/svg/star.svg");
  background-repeat: repeat-x;
  background-position: 0 center;
  margin: 0;
}

.star-rating-three {
  width: 72px;
  height: 37px;
  background-image: url("../images/svg/star.svg");
  background-repeat: repeat-x;
  background-position: 0 center;
  margin: 0;
}

.star-rating-two {
  width: 48px;
  height: 37px;
  background-image: url("../images/svg/star.svg");
  background-repeat: repeat-x;
  background-position: 0 center;
  margin: 0;
}

.star-rating-one {
  width: 24px;
  height: 37px;
  background-image: url("../images/svg/star.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  margin: 0;
}

/*Модальное окно*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal-window {
  position: relative;
  margin: auto;
  width: 577px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 64px 70px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  background-image: url("../images/svg/button-close.svg");
}

.modal-round-button {
  border-radius: 50%;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0;
}

.search-form {
  margin: 0;
  margin-top: 64px;
}

.field-dates-group {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 4px;
  margin: 0;
  margin-bottom: 23px;
}

.modal-text {
  display: block;
  min-width: 133px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  padding: 12px 0;
  margin: 0;
  position: relative;
}

.modal-field-text {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  border: 0;
}

.modal-field-text:hover {
  background-color: #e6e6e6;
}

.modal-field-text:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-field-text:active {
  outline: 2px solid #000000;
}

.modal-field-date {
  line-height: 24px;
  border-radius: 4px;
  min-width: 400px;
  padding: 12px 20px;
}

.field-modal-wrapper {
  position: relative;
}

.field-modal-wrapper::before {
  content: "";
  position: absolute;
  background-image: url("../images/svg/calendar.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 16px;
  height: 15px;
  top: 16px;
  right: 22px;
  opacity: 0.3;
}

.modal-help-text {
  display: block;
  grid-column: 2 / 3;
  font-size: 16px;
  line-height: 21px;
  padding: 0;
  padding-left: 20px;
  margin: 0;
}

.error-message {
  color: #ff5757;
}

.field-people-group {
  display: grid;
  grid-template-columns: auto 40px 31px 40px auto 40px 31px 40px;
  margin: 0;
  margin-bottom: 23px;
}

.modal-field-number {
  display: block;
  line-height: 20px;
  width: 31px;
  padding: 14px 10px;
  appearance: none;
  -moz-appearance: textfield;
}

.modal-field-number::-webkit-outer-spin-button,
.modal-field-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.modal-field-number:hover,
.modal-field-number:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.field-button {
  display: block;
  width: 40px;
  border: 0;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
}

.field-button-minus {
  background-image: url("../images/svg/button-minus.svg");
  border-radius: 4px 0 0 4px;
}

.field-button-plus {
  background-image: url("../images/svg/button-plus.svg");
  border-radius: 0 4px 4px 0;
}

.field-button + .modal-text {
  margin-left: 88px;
}

.tooltip-button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 26px;
  height: 26px;
  background-color: #83b3d3;
  background-image: url("../images/svg/button-tooltip.svg");
}

.modal-button {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 10px;
  width: 577px;
  border: 0;
  background-color: #83b3d3;
  padding-top: 18px;
  padding-bottom: 18px;
  margin: 0;
  margin-top: 48px;
}

.tooltip-button:hover,
.tooltip-button:focus,
.modal-button:hover,
.modal-button:focus {
  background-color: #68a2ca;
}

.tooltip-button:active,
.modal-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.modal-close-button:hover,
.modal-close-button:focus,
.modal-close-button:active,
.field-button:hover,
.field-button:focus,
.field-button:active {
  background-color: #e6e6e6;
}

.modal-button-cursor {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  width: 40px;
  height: 26px;
  margin: 0;
}

.tooltip-text {
  width: 216px;
  background-color: #333333;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 20px 18px 22px 22px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 40px;
  right: -113px;
  display: none;
}

.tooltip-button:hover + .tooltip-text,
.tooltip-button:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: "";
  background-image: url("../images/svg/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  top: -9px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
